# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files

    - repo: https://github.com/Zac-HD/shed
      rev: 0.10.7
      hooks:
        - id: shed
          args: [--refactor, --py310-plus]
          types_or: [python, markdown, rst]

    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.143
      hooks:
        - id: ruff
